<ul class="sg-colors">

	{{# brandColors }}
	<li>
		<span class="sg-swatch" style="background: {{ colorHex }};"></span>
		<span class="sg-label">
			{{ colorName }} <br />
			{{ variable }} <br />
			{{ colorHex }}
		</span>
	</li>
	{{/ brandColors }}

</ul><!--end sg-colors-->
