<ul class="sg-colors">
	{{# neutralColors }}
	<li>
		<span class="sg-swatch" style="background: {{ colorHex }};"></span>
		<span class="sg-label">
			{{ colorName }} <br />
			{{ variable }} <br />
			{{ colorHex }}
		</span>
	</li>
	{{/ neutralColors }}
</ul><!--end sg-colors-->
