/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/**
 * Body Styles 
 * 1) Prevent Mobile Safari from scaling up text: https://blog.55minutes.com/2012/04/iphone-text-resizing/
 */
@mixin typographyBody() {
    font-family: $font-family-primary;
    font-size: $font-size-med;
    line-height: $line-height-med;
    -webkit-text-size-adjust: 100%; /* 1 */
}

/**
 * XL Type Styles
 */
 @mixin typographyBodyLarge() {
    font-size: $font-size-med-2;
	line-height: $line-height-med;
}

/**
 * XL Heading Styles
 */
@mixin typographyHeadingXl() {
    font-size: $font-size-xl;
    font-weight: normal;
	line-height: $line-height-med;
}

/**
 * Large Heading Styles
 */
 @mixin typographyHeadingLarge() {
    font-size: $font-size-large;
    font-weight: normal;
	line-height: $line-height-med;
}

/**
 * Medium 2 Heading Styles
 */
 @mixin typographyHeadingMed2() {
    font-size: $font-size-med-2;
    font-weight: normal;
	line-height: $line-height-med;
}

/**
 * Medium Heading Styles
 */
 @mixin typographyHeadingMed() {
    font-size: $font-size-med;
    font-weight: normal;
	line-height: $line-height-med;
}

/**
 * Small Heading Styles
 */
 @mixin typographyHeadingSmall() {
    font-size: $font-size-sm-2;
    font-weight: normal;
	line-height: $line-height-med;
}